In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv("Advertising.csv")

In [4]:
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [5]:
x=data[["TV","Radio","Newspaper"]]
y=data[["Sales"]]

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=100)

In [7]:
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [8]:
print("intercep",mlr.intercept_)
print("coefficients:")
list(zip(x,mlr.coef_))

intercep [2.65278967]
coefficients:

[('TV', array([0.0454256 , 0.18975773, 0.00460308]))]

In [9]:
y_pred=mlr.predict(x_test)
print("prediction{}".format(y_pred))

prediction[[10.62160072]
 [20.00625302]
 [16.91850882]
 [19.17040746]
 [20.94974131]
 [13.12284284]
 [11.80740696]
 [12.32019766]
 [20.57806782]
 [20.95662688]
 [10.79096475]
 [19.54868702]
 [ 6.42403866]
 [15.23133391]
 [ 8.97226257]
 [ 7.89897862]
 [16.23599497]
 [12.02636477]
 [17.09702178]
 [11.26080277]
 [16.97826292]
 [ 9.75655721]
 [20.82389762]
 [17.20916742]
 [15.13816239]
 [21.97290698]
 [19.20181841]
 [10.07501899]
 [19.39017185]
 [14.8673761 ]
 [14.36798893]
 [ 7.55604543]
 [ 9.96742165]
 [14.76342565]
 [ 7.20995576]
 [13.60003295]
 [ 7.49088656]
 [11.70865932]
 [13.46091883]
 [15.2229793 ]
 [17.18088277]
 [13.56738329]
 [14.30942267]
 [13.72909849]
 [11.88559349]
 [ 8.77039705]
 [12.1244102 ]
 [19.20252289]
 [ 9.08376601]
 [ 5.15367352]
 [16.22852749]
 [18.14111213]
 [12.94835466]
 [16.86274503]
 [17.86462435]
 [12.33930625]
 [ 4.3575739 ]
 [11.25904494]
 [16.11560622]
 [13.56602169]]

In [10]:
from sklearn import metrics 
meansqrer=metrics.mean_squared_error(y_test,y_pred)
print("r sqr{:.2f}".format(mlr.score(x,y)*100))
print("msqrerr:",meansqrer)

r sqr89.59
msqrerr: 1.8506819941636943